{% extends 'base.html' %}

{% load static %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Recipes</li>
{% endblock %}


{% block content %}
  <div class="mb-4">
    <a href="{% url 'new_recipe'%}" class="btn btn-danger" role="button">Create</a>
  </div>
  {% for recipe in recipes %}
  {% if forloop.counter0|divisibleby:4 %} <div class="row text-center"> {%  endif %}
  <div class="col-md-3">
        <div class="card" style='width:100%; height:300px;'>
          <img src="{{ MEDIA_URL }}/{{ recipe.image }}" style="width:100%;height:250px;" class="card-img-top" alt="{{ recipe.name }}">
            <a href="{% url 'recipe_detail' pk=recipe.pk %}" class="card-body">
              <h5 class="card-title"> {{ recipe.name }}</h5>
            </a>
         </div>
  </div>
  {%  if forloop.counter|divisibleby:4 or forloop.last %}</div><!-- row closing --><br/>{%  endif %}

  {% endfor %}

{% endblock %}
