{% extends 'base.html' %}

{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Recipes</li>
{% endblock %}


{% block content %}
  <!-- Search -->
  <form action="" method="get">
    <div class="input-group md-form form-sm form-2 pl-0 ">
        <input class="form-control my-0 py-1 red-border" type="text" name="q" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <span class="input-group-text red lighten-3" id="basic-text1">
              <i class="fa fa-search" aria-hidden="true"></i>
          </span>
        </div>
    </div>
  </form>
  <br/>
  <div class="row">
    <!-- Create Button -->
    <div class="col-sm-10">
      <a href="{% url 'new_recipe'%}" class="btn btn-danger" role="button">Create</a>
    </div>
    <!-- Created by Me Button -->
    <div class="col-sm-2 text-right">
      <a href="{% url 'recipes'%}" class="btn btn-info btn-primary" role="button">All</a>
      <a href="{% url 'user_recipes'%}" class="btn btn-info btn-secondary" role="button">Mine</a>
    </div>
  </div>
  <br/>


  {% for recipe in recipes %}
  {% if forloop.counter0|divisibleby:4 %} <div class="row text-center"> {%  endif %}
  <div class="col-md-3">
        <div class="card" style='width:100%; height:300px;'>
          <img src="{{ MEDIA_URL }}/{{ recipe.image }}" style="width:100%;height:250px;" class="card-img-top" alt="{{ recipe.name }}">
            <a href="{% url 'recipe_detail' pk=recipe.pk %}" class="card-body">
              <h5 class="card-title"> {{ recipe.name }}</h5>
            </a>
         </div>
  </div>
  {%  if forloop.counter|divisibleby:4 or forloop.last %}</div><!-- row closing --><br/>{%  endif %}

  {% endfor %}

{% endblock %}
